

.products-section-container{
    grid-column: 5/9;
    margin-top: 200px;
    text-align: center;
    margin-bottom: 80px;
    @media screen and (max-width: 970px) {
        grid-column: 2/8;
      }
    div{
        margin-bottom: 80px;
        h4{
            margin-bottom: 24px;
        }
        p{
            margin-bottom: 24px;
        }
    }
    // a{
    //     background:#FADD4B;
    //     color: #1D1D1D;
    //     font-family: "NeueMontreal-Regular";
    //     font-size: 16px;
    //     text-decoration: none;
    //     padding: 12px 40px;
    //     border-radius: 32px;
    // }
}